* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
}

button {
  background: transparent;
  border-width: 0;

  cursor: pointer;
}


header {
  height: 75.5px;
  padding: 0 200px 0 130px;

  border-bottom: 2px solid #EBEBEB;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  display: flex;
  align-items: center;
  text-align: center;
}

header div button {
  display: flex;
  justify-content: center;

  text-align: center;
  font: italic normal bold 20px sans-serif;
  color: #707070;
}

header div button img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

header div .tgl {
  padding-left: 11px;
  margin-right : 74px;
  font: italic normal bold 44px sans-serif;

  color: #707070;
}

header .green-bar {
  width: 107px;
  height: 7px;
  background-color: #B5C401;
  border-radius: 6px;

  position: absolute;

  top: 72px;
  left: 130px;
}

header .logout button:last-child {
  text-align: center;
  margin-left: 40px;
}

main {
  padding: 0 200px 0 130px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content {
  margin-top: 73.5px;
}

.main-content .title {
  display: flex;
  flex-direction: row;
}

.main-content .title h1 {
  text-align: center;
  font: italic normal bold 20px sans-serif;
  
  color: #707070;
  text-transform: uppercase;
}

.main-content .title .game-name {
  margin-left: 10px;
  font-weight: lighter;
  
  color: #707070;
}

.bets-options {
  margin-top: 33px;
}

.bets-options p {
  text-align: left;
  font: italic normal bold 17px sans-serif;
  letter-spacing: 0px;
  color: #868686;
}

.bets-options .option {
  margin-top: 20px;
  margin-bottom: 28px;
}

.bets-options .option button {
  width: 113px;
  height: 34px;

  border-radius: 100px;

  text-align: center;
  font: italic normal bold 14px sans-serif;
}

.lotofacil-button {
  background: #FFFFFF;
  border: 2px solid #7F3992;
  color: #7F3992;
}

.lotofacil-button-actived {
  background-color: #7F3992;
  color: #FFF;
}

.mega-sena-button {
  background: #FFFFFF;
  border: 2px solid #01AC66;
  color: #01AC66;

  margin: 0 20px;
}

.mega-sena-button-actived {
  background-color: #01AC66;
  color: #FFF;

  margin: 0 20px;
}

.lotomania-button {
  background: #FFFFFF;
  border: 2px solid #F79C31;
  color: #F79C31;
}

.lotomania-button-actived {
  background-color: #F79C31;
  color: #FFF;
}

.rules {
  margin-bottom: 27px;
}

.rules h1 {
  font: italic normal bold 17px sans-serif;
  color: #868686;
}

.rules p {
  margin-top: 5px;
  font: italic normal normal 17px sans-serif;
  color: #868686;
}

.betting-sheet, .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.betting-sheet .card button {
  width: 63px;
  height: 65px;

  margin-right: 12px;
  margin-bottom: 20px;

  font: normal normal bold 20px sans-serif;
  color: #FFFFFF;

  background: #ADC0C4 0% 0% no-repeat padding-box;
  border-radius: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 24px;
  padding-bottom: 44px;
}

.button-container div button {
  padding: 17px 26px;

  text-align: center;
  font-size: 16px;
  color: #27C383;

  border: 1px solid #27C383;
  border-radius: 10px;
}

.button-container div button:last-child {
  margin-left: 20px;
}

.button-container .cart-button {
  padding: 17px 26px;

  display: flex;
  align-items: center;

  font-size: 16px;
  color: #FFF;

  background: #27C383 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

.button-container .cart-button img {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

/* Rigth side css */

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: right;

  margin-top: 41.5px;

  width: 317px;
  height: 484px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
}

.cart-container .title h1 {
  padding: 32px 0 0 19px;
  
  text-align: left;
  font: italic normal bold 24px sans-serif;
  color: #707070;
}

.cart-betting-sheet {
  padding-left: 19px;
}

.cart-betting-sheet .betting-sheet-game {
  display: flex;
  align-items: center;

  height: 86px;
  margin-bottom: 32px;
}

.cart-betting-sheet .betting-sheet-game .delete-bet {
  margin-right: 20px;
}

.bet {
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bet .bet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pourple-bar {
  width: 4px;
  background: #7F3992;
  border-radius: 100px 0 0 100px;
  margin-right: 10px;
}

.green-bar {
  width: 4px;
  background: #01AC66;
  border-radius: 100px 0 0 100px;
  margin-right: 10px;
}

.orange-bar {
  width: 4px;
  background: #F79C31;
  border-radius: 100px 0 0 100px;
  margin-right: 10px;
}

.numbers {
  font: italic normal bold 15px sans-serif;
  color: #868686;
}

.bet .bet-price {
  display: flex;
}

.bet .bet-price p {
  font: italic normal lighter 16px sans-serif;
  color: #868686;
}

.bet .bet-price .lotofacil {
  font: italic normal bold 16px sans-serif;
  color: #7F3992;

  margin-right: 10px;
}

.bet .bet-price .mega-sena {
  font: italic normal bold 16px sans-serif;
  color: #01AC66;

  margin-right: 10px;
}

.bet .bet-price .lotomania {
  font: italic normal bold 16px sans-serif;
  color: #F79C31;

  margin-right: 10px;
}

.total-price {
  display: flex;
}

.total-price h1 {
  font: italic normal bold 24px sans-serif;
  color: #707070;
}

.total-price h1:last-child {
  font-weight: lighter;

  margin-left: 10px;
}

.cart-container .save-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 96px;
  background-color: #F4F4F4;

  font: italic normal bold 35px sans-serif;
  border: 1px solid #E2E2E2;
  color: #27C383;
}

.cart-container .save-cart img {
  margin-left: 18px;
  width: 28px;
  height: 28px;
}
